// main: style.scss

/* -------------------------------------------- */
/* --------------     FILTER     -------------- */
/* -------------------------------------------- */

#filter-carte{

    .filter-button-group{
        .row{
            margin: 0;
        }
    }
    .filters {
        width: 100%;
        text-align: center;

        /* ul {
            list-style: none;
            padding: 20px 0;
        }
        li{
            display: inline;
            padding: 10px 25px;
            font-size: 14px;
            color: #636363;
            font-weight: 400;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: .2em;
            &:hover{
                color: #a6a6a6;
            }
            &.active{
                color: #ccc;
                border: 1px solid #ccc;
                border-radius: 15px;
            }
        } */
        img{
            width: 21px;
            height: 21px;
        }


        .btn-filter{
            border: 1px solid #000;
            background: grey;
            &:hover, &:active{
                background: #fff;
            }

        }
        .active{
            background: #fff;
        }

    }
    .single-content{
        margin: 3rem 0;
        padding: 0;
    }

    .theme{
        /* width: 100%; */
        padding: 1rem 9rem !important;
        height: auto !important;

        .porc{
            background-color:red;
            padding-bottom: 15px;
            -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
                    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        }
        .canard{
            background-color:lime;
            margin-top: 6%;
            padding-bottom: 15px;
            -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
                    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        }
        .max-pezzali{
            background-color:pink;
            margin-top: 6%;
            padding-bottom: 15px;
            -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
                    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        }
        .cuisine-chinois{
            background-color:purple;
            margin-top: 6%;
            padding-bottom: 15px;
            -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
                    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        }
        .specialite-maison{
            background-color:orange;
            padding-bottom: 15px;
            -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
                    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        }
    }
    .grid-item{
        top: 0 !important;
        left: 0 !important;
    }

    .grid-item h3{
        text-align: center;
        font-size: 2rem;
    }

    .grid{
        height: auto !important;
    }

    table{
        width: 100%;
        margin: 2% auto;
        .titre{
            border-bottom: inherit;
            text-align: center;
        }
        tr{
            border-bottom: 1px solid #000;
            &:last-child{
                border-bottom: inherit;
            }
        }
        td{
            padding: 5px 0;
            &:first-child, &:last-child{
                text-align: center;
            }
        }
    }
}


#filter-test-2{

    .btn{
        margin-top: 0;
        margin-bottom: 0;
    }
    .tile.scale-anm {

        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;




        border: 2px solid red;
        width: 596px;
        /* height: 842px; */
        margin: 5% auto;
        padding: 2% 5%;
        -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
                box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

    }
    /* .max-pezzali{
        background:lime;
    }
    .porc{
        background:pink;
    }
    .canard{
        background:cyan;
    } */

    .titre{
        text-align: center;
        font-size: 2rem;
    }

    table{
        width: 100%;
        margin: 2% auto;
        .table-titre{
            border-bottom: inherit;
            text-align: center;
        }
        tr{
            border-bottom: 1px solid #ddd;
            &:last-child{
                border-bottom: inherit;
            }
        }
        td{
            padding: 5px 0;
            &:first-child, &:last-child{
                text-align: center;
            }
        }
        .td-numb{
            width: 15%;
        }
        .td-price{
            width: 20%;
        }
        .td-nom{
            padding-left: 15px;
        }
    }
}
